<app-header *ngIf="!router.url.includes('login')"></app-header>
<div class="page-container" style="margin-top: 0px; ">
    <app-sidebar *ngIf="!router.url.includes('login')"></app-sidebar>
    <div class="page-content-wrapper" *ngIf="!router.url.includes('login')">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <router-outlet *ngIf="router.url.includes('login')"></router-outlet>
</div>
<app-footer *ngIf="!router.url.includes('login')"></app-footer>