.map-container {
   position: relative;
}

.map-frame {
   height: 400px;
}

#map {
   height: 400px;
}

.example-container {
   height: 100%;
   width: 100%;
   overflow: auto;
}

table {
   width: 100%;
   border: 1px solid #D6E3EB;
}

tr {
   height: 40px;
}

tr:nth-child(even) {
   background-color: #F4F4F4;
}

th {
   background-color: #F5F8FA;
}

.mat-header-cell {
   color: #294E9B;
   border-right: 1px solid #D6E3EB;
}

td.mat-cell {
   border-bottom: 1px solid #EFF2F7;
   border-right: 1px solid #EFF2F7;
   color: #303030;
}

.mat-header-cell,
.mat-cell {
   padding-left: 16px !important;
}

.mat-column-id {
   width: 250px;
}

.mat-column-name {
   width: 200px;
}

.mat-column-phone {
   width: 150px;
}

.mat-column-action {
   text-align: center;
   width: 200px;
   padding-right: 16px !important;
}