<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Booking Request</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-head">
                <header>Customer Information</header>
                <button id="panel-button7" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                    data-upgraded=",MaterialButton">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="panel-button7">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else
                        here</li>
                </ul>
            </div>
            <div class="card-body " id="bar-parent6">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <form name="form" [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name" name="name"
                                    formControlName="customerName" required>
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Phone" name="phone"
                                    formControlName="customerPhone" required>
                            </div>
                            <br>
                            <div class="input-group">
                                <select class="form-control" name="carType" formControlName="carType" required>
                                    <option value="" disabled selected>Select car type</option>
                                    <option value="FOUR_SEATS">Four-seater</option>
                                    <option value="SEVEN_SEATS">Seven-seater</option>
                                </select>
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Picking address"
                                    name="pickingAddress" formControlName="pickingAddress" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" style="width: 20%;margin-left: 40%;"
                                [disabled]="bookingForm.invalid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-lightblue">
            <div class="card-head">
                <header>Map</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <form class="form-inline mg-bottom-10" name="formSearch" [formGroup]="searchForm"
                    (ngSubmit)="addressLookup()">
                    <div class="input-group" style="width: 100%">
                        <input type="text" class="form-control" id="gmap_geocoding_address" placeholder="Address..."
                            name="key" formControlName="key" required>
                        <span class="input-group-btn">
                            <button class="btn blue" id="gmap_geocoding_btn" [disabled]="searchForm.invalid">
                                <i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <header class="panel-heading panel-heading-red" style="text-align: center;">Search Result</header>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="map-container">
                            <div class="map-frame">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-lightblue">
            <div class="card-head">
                <header>Managed Car Request</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <section class="example-container mat-elevation-z8" tabindex="0">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Id Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                        </ng-container>

                        <!-- Phone Column -->
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Customer Phone </th>
                            <td mat-cell *matCellDef="let element"> {{element.customerPhone}} </td>
                        </ng-container>

                        <!-- Address Column -->
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef> Picking Address </th>
                            <td mat-cell *matCellDef="let element"> {{element.pickingAddress}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <button  (click)="locateRequest(element.id)" [disabled]="isLocating(element.id)"  class="btn btn-primary"
                                    style="background-color: #e91e63 !important;">Locate</button> -->
                                    <div class="btn-group">
                                        <button [disabled]="isLocating(element.id)"
                                            class="btn btn-xs deepPink-bgcolor dropdown-toggle no-margin"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                            Actions
                                            <!-- <i class="fa fa-angle-down"></i> -->
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">
                                            <li (click)="locateRequest(element.id)">
                                                <a href="javascript:;" >
                                                    <i class="icon-docs" ></i> Locate </a>
                                            </li>
                                            <li (click)="cancelLocateRequest()">
                                                <a href="javascript:;">
                                                    <i class="icon-tag"></i> Cancel </a>
                                            </li>
                                        </ul>
                                    </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </section>

            </div>
        </div>
    </div>
</div>