.map-container {
   position: relative;
}

.map-frame {
   height: 500px;
}

#map {
   height: 500px;
}

.example-container {
   height: 100%;
   width: 100%;
   overflow: auto;
}

table {
   width: 100%;
   border: 1px solid #D6E3EB;
}

tr {
   height: 40px;
}

#carRequestTable tr:nth-child(even) {
   background-color: #F4F4F4;
}

th {
   background-color: #F5F8FA;
}

.mat-header-cell {
   color: #294E9B;
   border-right: 1px solid #D6E3EB;
}

td.mat-cell {
   border-bottom: 1px solid #EFF2F7;
   border-right: 1px solid #EFF2F7;
   color: #303030;
}

#carRequestTable th.mat-header-cell {
   font-size: small;
}

.mat-header-cell,
.mat-cell {
   padding-left: 16px !important;
}

.mat-column-id {
   width: 250px;
}

.mat-column-name {
   width: 200px;
}

.mat-column-phone {
   width: 150px;
}

.mat-column-action {
   text-align: center;
   width: 200px;
   padding-right: 16px !important;
}

.example-container-search {
   height: 500px;
   width: 100%;
   overflow: auto;
}

#searchTable .mat-table {
   border-collapse: separate !important;
   border-spacing:0 4px !important;
}

th.mat-column-searchResult {
   text-align: center;
   font-size: large;
}

td.mat-column-searchResult {
   border-bottom: 1px solid #EFF2F7;
}

.row-is-clicked {
   font-weight: bold;
 }

 tr.example-detail-row {
   height: 0;
 }
 
 tr.example-element-row:not(.example-expanded-row):hover {
   background: whitesmoke;
 }
 
 tr.example-element-row:not(.example-expanded-row):active {
   background: #efefef;
 }
 
 .example-element-row td {
   border-bottom-width: 0;
 }
 
 .example-element-detail {
   overflow: hidden;
   display: flex;
   height: 55px;
   justify-content: center;
}
 
 .example-element-diagram {
   min-width: 80px;
   border: 2px solid black;
   padding: 8px;
   font-weight: lighter;
   margin: 8px 0;
   height: 104px;
 }
 
 .example-element-symbol {
   font-weight: bold;
   font-size: 40px;
   line-height: normal;
 }
 
 .example-element-description {
   padding: 16px;
 }
 
 .example-element-description-attribution {
   opacity: 0.5;
 }

 #setAddressBtn {
   margin-top: 10px;
   margin-bottom: 10px;
   font-weight: 500;
 }

